/*Este archivo no es module.css porque no logré corregir el formato del toastify usando className={styles.algo}*/

.detailView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: rgb(247, 247, 247) !important;
  font-size: 15px !important;
  color: gray !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}
