.containerNavbar {
  background-color: #cdfcf6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 10px;
  padding-top: 20px;
}

.nav {
  display: flex;
  gap: 30px;
}

.image {
  max-width: 80px;
  height: 100%;
  margin-top: -15px;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: black;
  padding-top: 15px;
}

.active {
  font-weight: bold;
  color: rgb(71, 54, 54);
}

.notActive {
  color: rgb(71, 54, 54);
}
